[Unit]
Description=Deluge Web
Documentation=man:deluge-web
After=network-online.target deluged.service
Wants=network-online.target deluged.service

[Service]
Type=simple
User=pi
#Group=deluge
#UMask=027
# This 5 second delay is necessary on some systems
# to ensure deluged has been fully started
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/deluge-web
Restart=on-failure

[Install]
WantedBy=multi-user.target
