[Unit]
Description=Deluged
Documentation=man:deluged
After=network-online.target drive.mount
Requires=drive.mount
Wants=network-online.target
BindsTo=drive.mount

[Service]
#Type=simple
#User=deluge
#Group=deluge
#UMask=007
ExecStart=/usr/bin/deluged -d
Restart=on-failure
# Time to wait before forcefully stopped.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target drive.mount
