[Unit]
Description=IP Reporter
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/bin/bash /usr/local/bin/report-ip.sh

[Install]
WantedBy=multi-user.target
