[Unit]
Description=Rclone
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/bin/rclone mount GD:/RPi /mnt/mount --allow-other --allow-non-empty --vfs-cache-mode writes
Restart=on-abort

[Install]
WantedBy=multi-user.target
